<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/project_park?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">кщще</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <mapping class="by.clowns.entity.User"/>
        <mapping class="by.clowns.entity.Taxi"/>
        <mapping class="by.clowns.entity.Request"/>
        <mapping class="by.clowns.entity.Truck"/>
        <mapping class="by.clowns.entity.Bus"/>
        <mapping class="by.clowns.entity.Region"/>
        <mapping class="by.clowns.entity.Car"/>
    </session-factory>
</hibernate-configuration>