<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/WEB-INF/css/style.css" type="text/css">
    <title th:text="#{car.list}"></title>
</head>
<body>
    <div th:align="center" th:object="${cars}">
        <a th:href="@{/taxi/register}" th:text="#{taxi.registration}"></a>
        <a th:href="@{/truck/register}" th:text="#{truck.registration}"></a>
        <a th:href="@{/bus/register}" th:text="#{bus.registration}"></a>
        <a th:href="@{/region/register}" th:text="#{region.registration}" th:if="${loggedUser.role eq admin}"></a>
        <ul style="list-style-type: none" id="cars">
            <li th:each="car : ${cars}">
                <a th:href="@{/car/{id}/details(id=${car.id})}" id="brand" th:text="${car.brand} + ' ' + ${car.model}"></a> <br>
                <label for="price" th:text="#{price}"></label>
                <span th:text="${car.price}" id="price"></span> <br>
                <label for="number" th:text="#{number}"></label>
                <span th:text="${car.number}" id="number"></span> <br>
                <label for="regions" th:text="#{regions}"></label>
                <span th:each="reg : ${car.regions}" id="regions" th:text="${reg.name + ' '}"></span>
                <hr>
            </li>
        </ul>
        <a th:href="@{/}" class="home" th:text="#{home}"></a>
    </div>
    <div class="filter">
        <form th:action ="@{/cars}" method="get" th:object="${modelCar}">
            <label for="min_price_form" th:text="#{min.price}"></label>
            <input type="number" name="price" id="min_price_form" th:field="*{minPrice}"> <br>
            <label for="max_price_form" th:text="#{max.price}"></label>
            <input type="number" name="price" id="max_price_form" th:field="*{maxPrice}"> <br>
            <label for="brand_form" th:text="#{brand}" th:field="*{brand}"></label>
            <input type="text" name="brand" id="brand_form"> <br>
            <label for="number_form" th:text="#{number}" th:field="*{number}"></label>
            <input type="text" name="number" id="number_form"> <br>

           <!-- <label for="type" th:text="#{car.type}"></label>
            <select name="type" id="type" multiple>
                <option value="NOT" selected th:text="#{undefined}"></option>
                <option value="CAR" th:text="#{default}"></option>
                <option value="BUS" th:text="#{bus}"></option>
                <option value="TRUCK" th:text="#{truck}"></option>
                <option value="TAXI" th:text="#{taxi}"></option>
            </select>-->
            <label for="regionSelector" th:text="#{regions}"></label>
            <select name="regions_car_id" id="regionSelector" multiple th:field="*{regions}">
                <option th:each="region : ${regions}" th:value="${{region}}" th:text="${region.name}"></option>
            </select>
            <button type="submit" th:text="#{confirm}"></button>
        </form>
    </div>
</body>
</html>