<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/WEB-INF/css/style.css" type="text/css">
    <title>Car's list</title>
</head>
<body>
    <div th:align="center" th:object="${cars}">
        <li th:each="car : ${cars}">
            <label for="price">Price: </label>
            <span th:text="${car.price}" id="price"></span> <br>
            <label for="number">Number: </label>
            <span th:text="${car.number}" id="number"></span> <br>
            <hr>
        </li>
        <a th:href="@{/}" class="home">To Home</a>
    </div>
    <div class="filter">
        <form th:action ="@{/cars}" method="get" th:object="${cars}">
            <label for="price_form">Максимальная цена: </label>
            <input type="number" name="price" id="price_form">
            <label for="type">Тип машины: </label>
            <select name="type" id="type" multiple>
                <option value="NOT" selected>Не определено</option>
                <option value="CAR">Без спецификаций</option>
                <option value="BUS">Автобус</option>
                <option value="TRUCK">Грузовик</option>
                <option value="TAXI">Легковая</option>
            </select>
            <label for="regions">Регионы: </label>
            <select name="regions_car_id" id="regions" multiple th:object="${regions}">
                <option th:each="region : ${regions}" th:value="${region.car.id}" th:text="${region.name}"></option>
            </select>
            <button type="submit">Подтвердить</button>
        </form>
    </div>
</body>
</html>