<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{authorization}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
</head>
<body>
<main th:id="main-holder">
    <h1 th:id="login-header">Login</h1>
    <form th:action="@{/myLogin}" method="post" th:id="login-form">
        <input type="text" th:id="username-field" th:class="login-form-field" name="username" th:placeholder="#{login}"> <br>
        <input type="password" th:id="password-field" th:class="login-form-field" name="password" th:placeholder="#{password}"> <br>
        <input type="submit" th:value="#{enter}" th:id="login-form-submit">
    </form>
</main>
</body>
</html>