<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{truck.registration}"></title>
    <link rel="stylesheet" th:href="@{/css/registration.css}" type="text/css">
</head>
<body>
<div th:align="center" class="registration-form">
    <h2 th:text="#{truck.registration}"></h2>
    <form th:action="@{/truck/register}" th:method="post" th:object="${truck}">
        <div class="data-field">
            <input type="text" th:field="*{brand}" id="brand"><br>
            <label th:text="#{brand}"></label>
            <p th:each="err : ${#fields.errors('brand')}" style="color: darkred;" th:text="#{${err}}"></p>
        </div>
        <div class="data-field">
            <input type="text" th:field="*{model}" id="model"><br>
            <label th:text="#{model}"></label>
            <p th:each="err : ${#fields.errors('model')}" style="color: darkred;" th:text="#{${err}}"></p>
        </div>
        <div class="data-field">
            <input type="text" th:field="*{number}" id="number"><br>
            <label th:text="#{number}"></label>
            <p th:each="err : ${#fields.errors('number')}" style="color: darkred;" th:text="#{${err}}"></p>
        </div>
        <div class="data-field">
            <input type="number" th:field="*{price}" id="price"><br>
            <label th:text="#{price}"></label>
            <p th:each="err : ${#fields.errors('price')}" style="color: darkred;" th:text="#{${err}}"></p>
        </div>
        <div class="data-field">
            <input type="number" th:field="*{carrying}" id="carrying"><br>
            <label th:text="#{carrying}"></label>
            <p th:each="err : ${#fields.errors('carrying')}" style="color: darkred;" th:text="#{${err}}"></p>
        </div>
        <div class="selectdiv">
            <label>
                <select multiple="multiple" id="regions" th:field="*{regions}">
                    <option th:each="reg : ${regions}" th:value="${{reg}}" th:text="${reg.name}"></option>
                </select>
            </label>
        </div>
        <button type="submit" th:text="#{save}" class="mail-btn"></button>
    </form>
</div>
</body>
</html>