<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/WEB-INF/css/style.css" type="text/css">
    <title th:text="#{user.list}"></title>
</head>
<body>
    <div th:align="center" th:object="${users}">
        <li th:each="user : ${users}">
            <label for="username" th:text="#{username}"></label>
            <a th:href="@{/user/{id}/requests(id=${user.id})}" id="username" th:text="${user.username}"></a>
            <br>
            <label for="role" th:text="#{role}"></label>
            <span th:text="${user.role}" id="role"></span> <br>
            <label for="realName" th:text="#{realName}"></label>
            <span th:text="${user.passport.name}" id="realName"></span> <br>
            <label for="realSurname" th:text="#{realSurname}"></label>
            <span th:text="${user.passport.surname}" id="realSurname"></span> <br>
            <label for="birth" th:text="#{birth}"></label>
            <span th:text="${user.passport.birth}" id="birth"></span> <br>
            <hr>
        </li>
        <a th:href="@{/}" class="home" th:text="#{home}"></a>
    </div>
</body>
</html>